[Unit]
Description=Telegram bot 'my Bot'
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/home/telegrambot/
Environment="PYTHONPATH=/home/telegrambot"
ExecStart=/home/telegrambot/venv/bin/python /home/telegrambot/app.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target